/* footer */
.footer {
    background-color: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-main {
    display: flex;
    align-items: baseline;
}

.footer-container {
    margin-right: 70px;
}
.footer-contacts__address--google {
    color: #ffffff;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


  &:hover,
  &:focus {
    color: $accentColor;
}
}

.footer-contacts__address {
    margin-top: 20px;
}

.footer-contacts__address--link {
    margin-top: 9px;
}

.footer-contacts__link {
    color: rgba(255, 255, 255, 0.6);

    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


  &:hover,
  &:focus {
    color: $accentColor;
}
}

.footer-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
}


/* footer social links */
/* ul */
.social-list {
    @include centredFlex();

    list-style: none;
    margin: 0;
    padding: 0;
    
}

/* li */
.social-list__item:not(:last-child) {
    margin-right: 10px;
}

/* a */
.social-list__link {
    @include centredFlex();
    
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
   
    fill: #ffffff;
    background: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
    background-color: $accentColor;
}
}

/* svg */
.social-list__icon {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);


.social-list__link:hover &,
.social-list__link:focus &{
    background-color: $accentColor;
    fill: #fff;
}
}



.subscribe {
    display: block;
    margin-left: 93px;
}

.subscribe__button {
    display: inline-block;
    position: relative;

    width: 200px;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 39px;
    color: #ffffff;
    background-color: $accentColor;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    cursor: pointer;
    letter-spacing: 0.06em;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    border: none;
    vertical-align: middle;


&::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('../images/icon-send.svg');
    background-size: contain;
    margin-left: 10px;
}
}

.subscribe__input {
    width: 359px;
    height: 50px;
    background-color: #2f303a;
    padding-left: 15px;
    font-size: 16px;
    line-height: 1.25;

    color: rgba(255, 255, 255, 0.6);

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    align-items: center;
}