/* hero */
.hero {
  text-align: center;

  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero__button {
    display: inline-block;
    font-family: 'Roboto';

    color: #ffffff;
    background-color: $accentColor;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    cursor: pointer;
    letter-spacing: 0.06em;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px;

    border: none;
}
.overlay {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #757575;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../images/bg\ \(1\).jpg');
}