.social-link {
    @include centredFlex();
    
    border-radius: 50%;
    background-color: #fff;
    width: 44px;
    height: 44px;
  
    fill: #afb1b8;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

   &:hover,
   &:focus {
    background-color: $accentColor;
        }
}

.social-icon {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);


.social-link:hover &,
.social-link:focus &{
    background-color: $accentColor;
    fill: #fff;
}
}
